@media only screen and (max-width: 600px) {
  
  body{
    overflox-x: hidden;
  }
  
  .container_img_svg{
    width: 100%;
  }
  
  .show-colors {
    display: none;
  }
  
  .grid .card {
    margin: 150px 0px;
  }
}
